[2020-01-16 17:03] ebgoldstein opened #1 "new dashboard repo!"
@ShahNafisRafique, I'm not sure if you want to move code in, or build from scratch

[2020-01-24 19:19] #1 closed

[2020-01-28 18:11] ebgoldstein opened #2 "ocean tag"
all water images should be tagged as such and then image can be skipped

[2020-01-28 18:14] ebgoldstein opened #3 "add a section in the docs about adding additional tag types"

[2020-01-28 18:27] ebgoldstein opened #4 "damage to infrastructure tag"

[2020-01-29 23:17] ebgoldstein opened #5 "add a license"
my pref is MIT

[2020-01-30 00:24] Matmorcat commented on #5
Done!

[2020-01-30 00:24] #5 closed

[2020-02-05 05:48] ShahNafisRafique opened #7 "Storm based or archive based permissions to tag"
@ebgoldstein I have a question about how to give permissions to a tagger on what they can tag. Theres two ways that I see.

First way is each user object has a list of storms they can tag, and in that storm they can tag any image from any of the archives. On the dashboard I would then show them a list of storms and they select which storm to tag.

**Example** is, say Storm A has 5 archives, if som

[2020-02-05 12:40] ebgoldstein commented on #7
First way is fine with me!

[2020-02-11 15:07] ebgoldstein opened #8 "Make Project Board w/ dev tasks"
- [x] Database

- [x] OAuth

- [x] Dashboard

- [x] Data extraction

- [x] Finalize Docs (and for future extensibility, e.g., new storms)

[2020-02-11 15:09] #8 closed

[2020-02-11 15:11] ebgoldstein commented on #7
I think you solved this...

[2020-02-11 15:11] #7 closed

[2020-02-11 15:12] ebgoldstein commented on #3
added to project board

[2020-02-11 15:12] #3 closed

[2020-03-10 01:38] ShahNafisRafique opened #9 "Comment whats been done upto 3/10/2020"
I should comment that code

[2020-03-10 01:49] ShahNafisRafique opened #10 "Frontend taggable storm/archive API"
Have frontend call APIs to get taggable storms/archives of a user and show them in the stepper

[2020-03-10 01:52] ShahNafisRafique opened #11 "Move Auth0 account over to Dr.Evan"
It would be best to have the Auth0 account moved over to Dr.Evan so he has control. As of right now I believe the only things I would need to change are

`AUTH0_DOMAIN`
`AUTH0_TOKEN_URL`
`AUTH0_CLIENT_ID`
`AUTH0_CLIENT_SECRET`

[2020-03-18 03:23] ShahNafisRafique opened #12 "break isInMongoDB function into two parts"
1st part checks if a user exists
2nd part creates a user given some information

[2020-03-18 03:31] ShahNafisRafique opened #13 "Create function to show menu items based off roles"
This is for the front end. Create a function that given the users tags, shows menu items on the side based of those.

[2020-03-18 03:39] #9 closed

[2020-03-18 07:19] ShahNafisRafique opened #15 "Clean up any files not used and improve existing functions"
Remove any unused files
Certain functions need to be revamped, TODO add later here

[2020-03-21 06:03] #12 closed

[2020-03-21 06:06] ShahNafisRafique opened #16 "Add RBAC method to check user perm"
RBAC takes 2 inputs
1. Userid, MongoId since user exists
2. JSON object with following structure

[code]
`"all"` means User needs all these tags
`"one"` means User only needs one of these tags

[2020-03-21 07:34] ShahNafisRafique opened #17 "Move MongoDB over to Dr.Evan"
It would be best to move control of the DB to Dr.Evan

This would effect the config.env vars
`MONGO_URI_DEV`
`MONGO_URI_PRODUCTION`

Which are really the same, with 1 small difference of development/production tables

[2020-03-24 02:04] ShahNafisRafique commented on #16
Now have the menubar reflect this

[2020-03-28 04:14] #13 closed

[2020-03-28 04:15] ShahNafisRafique commented on #16
Menu navbar gets user tags and shows menu items based of tags

[2020-03-28 04:15] #16 closed

[2020-03-29 03:15] #10 closed

[2020-03-31 02:17] ShahNafisRafique commented on #4
@ebgoldstein What would you like me to do for this issue? I am working on the ocean tag and was curious what to do for this.

[2020-03-31 03:20] ShahNafisRafique commented on #2
Added a button for skip and water. Doesnt do anything other then saying that the user clicked it. Will add API backend later.

[2020-03-31 03:22] ShahNafisRafique opened #18 "Add Backend API for image tagging"
- [x] Assign an image to a user
- [x] Accept tag
- [x] On tag, or skip, assign new image

- [x] Tag an image as water
- [x] Skip an image
- [x] Tag an image with normal tags

- [x] On image tag check to see if any tags match

Things to do when tagging, normally

- Save tags
- Add tag to tagged list for user
- Check to see if image needs to be tagged any more, as in see if two tags match.

[2020-03-31 03:27] ShahNafisRafique opened #19 "Add API for handling image assignment to user"
If this is a users first image in an archive

1. Pick the first taggable image(Not completed or is available to tag)
2. Assign that image ObjectId to the user. The user model will look something like this.
[code]
This then keeps track of skipped and assinged images

If the user has an image assigned, simply pull it from above.

This API should run whenever user connects to `/auth/tagImage`

[2020-04-01 13:42] ebgoldstein commented on #4
maybe just a radio button that someone can press to indicate that the images shows damage to houses/buildings/roads

[2020-04-02 04:53] ShahNafisRafique commented on #4
Okay should this be a new category or under impact? And is it just no damage vs damage?

[2020-04-02 12:19] ebgoldstein commented on #4
I think this is experimental RN.... so a new category i think... and just damage vs no damage.

[2020-04-05 02:49] ShahNafisRafique opened #20 "Figure out tagging data json structure"
For now I have this idea
[code]

[2020-04-11 03:12] ShahNafisRafique commented on #20
I think I have come up with a good json structure for a tag

[code]

If "type" is water or skip, there will be no data property.

[2020-04-16 12:59] ebgoldstein commented on #20
looks good to me!.. impact type is one of 5 types right? —  'nothing or swash or collision or overwash or inundation'

[2020-04-16 13:23] ShahNafisRafique commented on #20
The difference is `"0"` is just that one category. So `impactType` is either no impact("0") or has impact("1") it can never be both. With `["0","1",...]` its a combination so mix and match the different categories or if its `[]` that means none of the categories apply.

[2020-04-16 13:28] ebgoldstein commented on #20
ok, so:
`impactType` should be in brackets:  [0,1,2,3,4] (for 'nothing, swash, collision, overwash, inundation')
'terrainType' should have more categories... [0,1,2,3] (for 'sandy coastline, marsh, inland, river')

[2020-04-16 13:36] ShahNafisRafique commented on #20
Yes. Actually now that I think about it, it would be best to have `terrianType` be 0,1,2,3,4] (for 'none, sandy coastline, marsh, inland, river') just to avoid empty entries. I will change `impactType` to be a checkbox and not a radio.

[2020-04-18 03:46] ShahNafisRafique commented on #20
Quick question @ebgoldstein , what are the impact type values? It was a radio button before where the options where `impact` or `no impact`. What should the checkbox be this time? and does there need to be at least 1 selected or can it be like terrain where none can be selected?

[2020-04-20 02:02] ShahNafisRafique opened #21 "What to do if no new images in an archive."
So for testing I have 4 images for a single archive. What should happen if a user has tagged all four images? I know this wont happen but might as well handle this edge case. Should I send a message saying  "No new image to tag for this archive"? @ebgoldstein

[2020-04-20 13:18] ebgoldstein commented on #21
yes, message saying something like "no new images to tag in this archive [print archive name] — please contact an admin to get permission to tag a new archive".

[2020-04-20 13:26] ebgoldstein commented on #20
types are:
None, Swash, Collision, Overwash, Inundation
atleast 1 should be selected

[2020-04-21 02:17] ShahNafisRafique commented on #21
Okay I can add that message. They dont need permission to tag a new archive since all archives under a storm are available.

[2020-04-21 02:25] #21 closed

[2020-04-21 02:48] ShahNafisRafique commented on #21
![preview](https://user-images.githubusercontent.com/38015120/79819881-f50f4200-8358-11ea-97e9-adffab9aa5a6.PNG)
@ebgoldstein I added a message like this, just to make it look nice.

[2020-04-21 02:59] ShahNafisRafique commented on #20
Okay so I added in the correct names for impact and terrian checkboxes. This is the initial state of all the radios/checkboxes

[code]

The radio buttons are set to `-1` which means nothing is selected, and in order to move on the value has to be 0 or more.

The checkboxes values are either 0 (not selected) or 1 (selceted). So for example if impact type is

[code]
None of the checkboxes where sele

[2020-04-21 03:01] ShahNafisRafique commented on #20
![preview21](https://user-images.githubusercontent.com/38015120/79820708-e32e9e80-835a-11ea-90f7-ebc5b517a40d.PNG)
Heres a preview,ignore the section crossed out in red,its for debugging

[2020-04-21 14:14] ebgoldstein commented on #20
this looks good @ShahNafisRafique !

[2020-04-23 02:58] ShahNafisRafique commented on #20
Basic tagging with normal tags is successful

[2020-04-23 02:58] #20 closed

[2020-04-23 02:59] ShahNafisRafique commented on #4
Added to tagging questions

[2020-04-23 02:59] #4 closed

[2020-05-01 03:03] ShahNafisRafique opened #22 "Add skip tag"

[2020-05-01 03:04] ShahNafisRafique opened #23 "Add water tag"

[2020-05-01 03:04] ShahNafisRafique opened #24 "Test tagging if no more images left to tag for user"

[2020-05-01 03:06] #22 closed

[2020-05-01 03:06] #23 closed

[2020-05-01 03:07] #18 closed

[2020-05-01 03:07] #19 closed

[2020-05-01 03:12] ShahNafisRafique opened #25 "Clean code and comment"

[2020-05-01 03:12] ShahNafisRafique opened #26 "use the google file stream for images"
One idea I have to add new storms/archives is to make a node CLI where u list folders and indicate if they are storms or archives.

[2020-05-01 03:13] #15 closed

[2020-05-01 03:14] ShahNafisRafique opened #27 "Data export"
Since MongoDB's export adds weird data type symbols in, its prob best if I just loop through a collection and write to a file.

[2020-05-01 17:19] ebgoldstein opened #28 "landing/welcome"
You have tagged 'X' images in 'XYZ' storms.. give a % complete for each storm.

[2020-05-01 17:21] ebgoldstein commented on #28
allow them to continue on current storm.. or start on a new storm

[2020-05-01 17:29] ebgoldstein opened #29 "on select of storm"
show Storm Name, Storm Year, Image Number, Link to Storm Wikipedia page

[2020-05-01 17:43] ebgoldstein opened #30 "Progress Bar below image"

[2020-05-01 17:49] ebgoldstein opened #31 "Damage needs to say 'Damage to Infrastructure'"

[2020-05-01 17:52] ebgoldstein commented on #31
i saw it done

[2020-05-01 17:52] #31 closed

[2020-05-02 02:35] ShahNafisRafique opened #32 "Styling list"
- [ ] Center all items
- [ ] One showing submission data, bold category and options. Have 'yes' be orange color for checkbox
- [ ] Rename 'Damage' to 'Visible Damage to infrastructure' and 'No Damage' to 'No Visible Damage to infrastructure '

[2020-05-02 02:35] ShahNafisRafique opened #33 "Change stepper form to normal long form"

[2020-05-02 02:37] ShahNafisRafique opened #34 "API security"

[2020-05-03 04:08] ShahNafisRafique opened #35 "Modularize the form"

[2020-05-04 15:43] ebgoldstein commented on #33
is this for all the label quesitons? (vs wizard-style)

[2020-05-04 19:12] ShahNafisRafique commented on #33
I was going to change from the wizard style back to the original style we had last semester.

[2020-05-04 19:15] ebgoldstein commented on #33
ok cool.. .i think less clicks is always better

[2020-05-06 16:05] ebgoldstein opened #36 "move to VM"
compter is 'Dashboard':
storm images are downloading, being put in:
` /datadrive/archives/ <storm name>`

[2020-05-06 17:31] ebgoldstein commented on #36
I'll update this list with the archives on the VM:

Florence:
1. 20180916a
2. 20180916b
3. 20180917a
4. 20180918a
5. 20180919a

[2020-05-07 04:43] ShahNafisRafique opened #37 "Readd form buttons"
Reimplement skip, water tag and submit buttons
Reimplement view as full image and view compressed image buttons.

Verify data is sent correctly

[2020-05-07 22:19] ebgoldstein opened #38 "long term extensibility"
Hey @MARDAScience — this dashboard that @ShahNafisRafique is building is mostly for Sallenger regime classification. But what other operations should a Coastal dashboard have? pixel annotation? segmentation? bounding boxes labeling for certain features? i think this would be a good place to have a list... and then also we can figure out what the next steps are... (and have a running list of other

[2020-05-08 01:46] MARDAScience commented on #38
Great! I suppose that ideally it could include polygon labelling, bounding boxes, and pixel annotation would be amazing! I could implement my CRF code that works well for turning sparse into dense (i.e. every pixel) label images. What makes it 'coastal' is the just the data and classes, so you could leverage existing tools. What class labels would be provided? Or is the idea that users could uploa

[2020-05-08 02:20] #32 closed

[2020-05-08 02:20] #33 closed

[2020-05-08 02:20] #37 closed

[2020-05-08 02:20] #30 closed

[2020-05-08 02:20] #24 closed

[2020-05-08 02:20] #25 closed

[2020-05-08 02:21] ShahNafisRafique opened #39 "Make documentation for adding radio/checkbox buttons"

[2020-05-08 03:38] #39 closed

[2020-05-08 15:08] ebgoldstein commented on #38
these are all good ideas. Once we get v1 deployed, i'll try to parse these, get them rank ordered, and think of a way forward.

[2020-05-09 05:42] ShahNafisRafique commented on #28
@ebgoldstein How is this so far, I added a user message which is a field in the user model and the continue tagging button. They can start on a new storm by clicking the `Image Tag` button on the left

![homepage](https://user-images.githubusercontent.com/38015120/81465199-32b3fd80-9196-11ea-961c-bbf9b37d49a4.PNG)

[2020-05-09 06:00] ShahNafisRafique opened #40 "create CLI to add storms/archives/images"
There are 3 CLI commands I can think of, `addStorm`, `addArchive`, and `addImage`

For all 3 im thinking of just having them read a JSON file, that way you can just feed it a JSON file and it will read it rather then having to type out a bunch of options

For example, `addStorm path/to/json/file.json` where `file.json` would look something like this,

[code]
There would be an option called `autoIn

[2020-05-10 04:20] #35 closed

[2020-05-10 05:52] ShahNafisRafique commented on #29
added Storm Name, Storm Year, and wiki page.

I will do image number a little bit later as I kind of have to redesign the stepper

[2020-05-10 22:50] ShahNafisRafique opened #41 "redesign way the drawer buttons are populated based of user roles"

[2020-05-10 22:51] #34 closed

[2020-05-11 13:59] ebgoldstein commented on #40
CLI commands are a good idea.
Adding a storm makes sense.
Adding an archive makes sense.
I don't think I will ever add individual images (just directories of images, which is an archive).

There is a chance in the future we will add groups of images that are not 'storms', but instead collections of images that are grouped in some other way... So it's sort of like 1 org. level above a storm..  You

[2020-05-11 14:03] ebgoldstein commented on #28
I don't think i want a custom user message. Just say instructions —  like 'Click on the Image tag (on the left) to start tagging images.

and I'd remove USGS data link on the left (since we dont; ahve that data)

[2020-05-11 19:48] ShahNafisRafique commented on #28
I can do that. Just an idea what  about links to the JOSS paper or the repos/organization?

[2020-05-11 19:50] ebgoldstein commented on #28
eventually we need a link to some page that summarizes the whole effort... So maybe leave a comment or a line of code commented where a link can be inserted when i get my act together

[2020-05-11 19:50] ebgoldstein commented on #28
but for now, lets not have a link

[2020-05-12 04:07] #28 closed

[2020-05-12 06:00] #41 closed

[2020-05-13 21:50] ShahNafisRafique opened #42 "Error check the query params to make sure a user is allowed to vist that page"

[2020-05-14 01:34] #42 closed

[2020-05-14 19:34] ebgoldstein opened #43 "Table on home page for each user"
something that looks like this:

| Storm   | Archive |  # pics tagged | # pics total | |
| ------------- | ------------- |----- | ----- | ----- |
| Florence | 20180919a | 0 | 1045 | `Start` |
| Florence | 20180919b | 20 | 3432|`Start` |
| Florence | 20180919c | 400 | 4532|`Start` |
| Michael | 20181012b | 400 | 453 |`Start`|

[2020-05-16 01:00] ShahNafisRafique opened #44 "Error hand invalid query params"

[2020-05-16 01:00] ShahNafisRafique opened #45 "table view for continue buttons"

[2020-05-16 02:12] #44 closed

[2020-05-16 13:08] ebgoldstein commented on #45
see https://github.com/UNCG-DAISY/psi-dashboard/issues/43 . I'll put it on the project board...

[2020-05-16 13:08] #45 closed

[2020-05-16 23:00] ShahNafisRafique opened #46 "Refactor to use Coastal Image Labeler"
Change to Coastal Image Labeler, and change storm to Image Catalog and keep archive as archive

[2020-05-16 23:01] ShahNafisRafique opened #47 "Catalog-specific questions"

[2020-05-17 01:52] ShahNafisRafique commented on #43
This is the current table for the home page right now. I can work on showing `Storm`, `# pics tagged` and `Total` a little bit later as im not sure 100% on how I want to implement that @ebgoldstein .

![asdasdsadad](https://user-images.githubusercontent.com/38015120/82133916-66f37380-97bf-11ea-9801-53c81846438a.PNG)

[2020-05-17 01:52] ShahNafisRafique commented on #43
You can either click the button, or click the row

[2020-05-17 01:54] ShahNafisRafique opened #48 "Informal task to do before VM"
- [x] Make the CLI
- [x] Add new test data via CLI
- [x] Rework image assingment
- [x] Check image tagging
- [x] Check image update mongo functions
- [x] Check image skip

[2020-05-21 17:54] ebgoldstein opened #49 "export format"
catalog name
archive name
image name
labeler
(all the tags)

[2020-05-25 02:27] ShahNafisRafique opened #50 "Change CLI to use json file"
Have the CLI accept a path to a json file and then read it for options on adding catalogs/archives/images

[2020-05-25 02:28] ShahNafisRafique opened #51 "Make sure models on CLI and server are same"

[2020-05-25 02:46] #51 closed

[2020-05-26 00:23] #50 closed

[2020-05-28 02:05] ShahNafisRafique opened #52 "Change CLI to use cil-dashboard in the /bin folder"

[2020-05-28 02:05] ShahNafisRafique opened #53 "Change \\ to /"

[2020-05-28 02:06] ShahNafisRafique opened #54 "Handle archives having a /jpg folder"

[2020-05-28 02:06] ShahNafisRafique opened #55 "Change CLI to not be recursive"
Due to recursive nature the stack size gets exceeded

[2020-05-28 17:14] ebgoldstein commented on #46
I changed the repo name

[2020-05-28 17:14] #48 closed

[2020-05-28 17:14] ebgoldstein commented on #46
docs need to change

[2020-05-28 17:15] ShahNafisRafique opened #56 "Home page resume button crash"

[2020-05-28 17:24] ShahNafisRafique commented on #17
[https://www.mongodb.com/cloud/atlas](https://www.mongodb.com/cloud/atlas)
 - Build new cluster.
- Use whichever provider(Amazon, Google, Azure) you want.
- Select M0 Sandbox since its the free one
- Set the cluster name which can NOT be changed after set.

Then you can add me by clicking the + icon on the top right
![invite](https://user-images.githubusercontent.com/38015120/83172890-3fb57400-a0e

[2020-05-28 17:28] ShahNafisRafique commented on #11
Make an account at [https://auth0.com/](https://auth0.com/), I just logged in with gmail.

- It should ask you to create an application, doing so will ask what kind of app it is, select
 `Regular Web Application`
![appType](https://user-images.githubusercontent.com/38015120/83173307-d3874000-a0e6-11ea-8a4f-d003e7020b23.PNG)

- Then you can just add me as an admin from the top right clicking the av

[2020-05-28 18:01] ShahNafisRafique commented on #11
@ebgoldstein can you invite my uncg email so I can use that, sarafiqu@uncg.edu. It sent the invitation to my personal email.

[2020-05-29 11:50] ShahNafisRafique opened #57 "Duplicate archives?"
So while working on #55 and making the CLI more informative in its logging I noticed that there where 4 archives that had alot of duplicate images, meaning that another archive has images with the same name. These are the archives with duplicate images.

The image in the () is one of the images of that archive that already exist.

`20180916b_jpgs` - (P25959661.jpg) due to 20180916a_jpgs already ex

[2020-05-29 12:17] ShahNafisRafique commented on #57
Here is what the console log looks like and how many dups of each archive there are.

![log1](https://user-images.githubusercontent.com/38015120/83258704-c4ef6600-a184-11ea-841a-2f22336108d7.PNG)
![log2](https://user-images.githubusercontent.com/38015120/83258710-c6b92980-a184-11ea-97a2-922558fc36c3.PNG)

[2020-05-29 12:24] ebgoldstein commented on #57
For now, I think 'as is' is fine. I think its good to know this issue exists...

[2020-05-29 12:28] ShahNafisRafique commented on #57
It should be an easy change, I can try it soon and see if it works.

[2020-05-29 19:44] ebgoldstein commented on #47
ok, so i have a use-case. I have some images that i want to classify into 1 of 4 categories (radio button) and a notes box:

- Collision
- Pre/Post or Close
- No impact
- Unusable (blurry/dark/etc.)

and a notes tab

this simple question set can be called 'Dune Collision'... (vs the one we have been using, which should be called 'post-storm')

[2020-05-30 00:00] ShahNafisRafique commented on #47
Would there common set of questions across all catalogs (other then skip and tag as water)

[2020-05-30 00:56] ebgoldstein commented on #47
no.
skip is always good to have, but tag as water could be removed for this one (but i think the way its coded in now, it would be difficult to remove, right? if so, its fine for it to be included)

[2020-05-30 03:50] ShahNafisRafique commented on #47
It would be difficult to move it around right now. I do plan on after getting the initial version of the dashboard up to start implementing the question sets and rework how I handle the form.

[2020-05-31 12:15] #46 closed

[2020-05-31 12:15] #55 closed

[2020-05-31 12:15] #53 closed

[2020-05-31 12:15] #52 closed

[2020-05-31 12:18] ShahNafisRafique opened #58 "add auth check to see if user is part of a catalog on image submission"
On image tag submission, add check after checking `tagger` to see if user is part of catalog of image being tagged

[2020-06-01 02:08] #56 closed

[2020-06-01 03:29] #40 closed

[2020-06-01 03:31] #26 closed

[2020-06-01 03:31] #2 closed

[2020-06-01 03:31] #36 closed

[2020-06-01 11:00] #58 closed

[2020-06-01 11:07] ShahNafisRafique commented on #57
For an update on this, two images that are the same (same name) under two different archives will be put in to the DB. There is not a lot of dup images, around 400-500 out of 28.2k.

[2020-06-01 11:07] #57 closed

[2020-06-01 11:12] ShahNafisRafique commented on #54
@ebgoldstein So something I didnt notice was that the archives have subfolders in this case just 1 being called `jpgs`. Right now I semi hardcoded in `/jpgs` meaning I have a extra parameter in my functions to accept an append path but, no way for the user to say that in the CLI. How would you like to handle this? Should I just assume all archives will have `/jpgs` or is there something else in mi

[2020-06-01 13:24] ebgoldstein commented on #54
can we just say in the docs that there needs to be a folder called `jpgs` in the archives that holds all the pics?

[2020-06-02 05:25] ShahNafisRafique commented on #54
yes we can. Worse case is I can have the CLI just create catalogs and archives, the admin fixes the path and then tells the CLI to add the images.

[2020-06-02 06:00] ShahNafisRafique opened #60 "Better way to compare tags"
- [ ] remember to exclude comment from comparison

[2020-06-02 06:41] ShahNafisRafique commented on #43
![table](https://user-images.githubusercontent.com/38015120/83488265-8b677500-a47a-11ea-9152-46786c714f98.PNG)
@ebgoldstein This is the table for resuming on the home page, is there anything else you would like to add?

[2020-06-02 11:08] #54 closed

[2020-06-02 11:49] ebgoldstein commented on #43
i think this looks great. 2 notes:

1. what is the difference between 'you tagged' and 'total tagged'? I would just show the number of images that the user has tagged, and then put this under the heading 'total tagged'

2. you can remove the column label 'Resume' — the green Resume buttons will be enough..

[2020-06-02 12:11] ShahNafisRafique commented on #29
![images](https://user-images.githubusercontent.com/38015120/83518576-9c2edf80-a4a8-11ea-8ba1-5dd58d6b4d0e.PNG)

[2020-06-02 12:14] ebgoldstein commented on #29
this looks good. 'Storm' is misspelled on the top part. And we might want to change "Pick a storm" and "Pick an archive from that storm" to "Pick a catalog", "Pick an archive from that catalog"

[2020-06-02 12:19] ShahNafisRafique commented on #29
![fixed](https://user-images.githubusercontent.com/38015120/83519341-c7fe9500-a4a9-11ea-9840-e5a17cc21d85.PNG)
Fixed, just have to rename some internal variables with the word storm in them now.

[2020-06-02 12:21] ShahNafisRafique commented on #43
1. The difference between `you tagged` is that its how many images that user has tagged of that archive. `Total tagged` is how many images of this archive have been tagged,since there is only one user both numbers are going to be the same.

2. Done

3. I added the row clicking just because I was too lazy to move to the resume button, and saw that I could do it. I can remove it.

[2020-06-02 12:25] ebgoldstein commented on #43
ok...thx for the clarification...  I would just show the number of images that the user has tagged, and then put this under the heading 'total tagged'

[2020-06-02 12:27] ShahNafisRafique commented on #43
Okay that is done

[2020-06-02 12:30] #43 closed

[2020-06-02 12:30] #29 closed

[2020-06-02 12:57] ShahNafisRafique commented on #60
remember to exclude comment from comparison

[2020-06-02 13:59] #60 closed

[2020-06-03 03:22] ShahNafisRafique opened #63 "Create react-hook-forms"
- [x] Nesting
- [x] Radio buttons, required/not required
- [x] Checkbox, required, min,max,not required
- [x] Control error

[2020-06-03 17:37] ebgoldstein commented on #11
done

[2020-06-03 17:48] ShahNafisRafique commented on #17
That is fine, I can take over and note down what I do.

[2020-06-03 18:07] ShahNafisRafique commented on #11
It works! I moved the project over to your auth0 project.

[2020-06-03 18:20] ShahNafisRafique commented on #17
MongoDB works, just waiting on the data to be imported over

[2020-06-03 22:16] #63 closed

[2020-06-03 22:38] ShahNafisRafique opened #64 "6/4/2020 Agenda"
- [ ] Walk through changes of dashboard
1. Home table
2. Image tag wizard
3. New react hook forms

- [ ] CLI changes
1. Dup images in different archives, now uses image name and archive name as pair

- [ ] Server side changes
1. Lodash for tag comparison and deep copy.

- [ ] Other
Auth0 Universal Login Permission
MongoDB and Auth0 migration done

[2020-06-04 00:15] #64 closed

[2020-06-04 00:16] #47 closed

[2020-06-04 17:55] ShahNafisRafique commented on #27
[code]

[2020-06-04 17:55] #49 closed

[2020-06-04 18:16] ebgoldstein opened #68 "keep running after VM logout"
` nohup <command> &` not working

[2020-06-04 18:41] ShahNafisRafique opened #69 "feedback"
- [x] continuation paper work
- [x] URL - coastalimagelabler.science
- [x] user doc - instructions, set up structure
- [x] On the right of the question label, have link
- [x] impact type - 0 req
- [x] terrian - 1 req
- [x] show checkbox min max
- [x] doc u ment the req.archive in image tag
- [x] nohup
- [x] nohup npm run start &
- [x] show image open on tagimage
- [x] .out to gitignore

[2020-06-05 12:28] ShahNafisRafique opened #70 "Image Compression"
So I decided that I wanted to do image compress at the time images are entered into the DB, so where would you like them to be saved @ebgoldstein? Should they be in the `/datadrive/compressed` folder?

[2020-06-05 12:33] ebgoldstein commented on #70
`/datadrive/compressed` is fine with me

[2020-06-06 09:43] #70 closed

[2020-06-06 09:43] #68 closed

[2020-06-06 09:44] ShahNafisRafique commented on #68
Start
[code]

Stop
[code]

[2020-06-07 15:32] #27 closed

[2020-06-08 14:06] ShahNafisRafique opened #74 "Instructions/Examples"
# Instructions
- [x] How to get ability to tag
- [x] How to select catalog
- [x] How to select archive
Link to mkdocs page where this would go [here](https://psi-dashboard.readthedocs.io/en/latest/user_documentation/tagging_process/)
which would be this file `docs/user_documentation/tagging_process.md`
# Examples
- [x] Examples and explanation of each option for each question/option
Link to mkdocs

[2020-06-08 14:08] ShahNafisRafique opened #75 "Update code documentation"
- [x] Packages
- [x] Project structure,include CLI
- [x] Fix images on auth0
~~- [ ] Add data export with CLI~~
- [x] Update extending with new question set system

[2020-06-08 16:16] ShahNafisRafique commented on #74
Added paths to files to edit

[2020-06-09 11:17] ShahNafisRafique opened #77 "Export script"
Write a script to export all collections of a given schema and also to act as a backup service

[2020-06-09 13:37] ebgoldstein opened #79 "show full image"
(so users don't need to click the `^` on the top right)

[2020-06-09 13:39] ebgoldstein opened #80 "Impact Type(s)"
There should be a 'None' box, and then we should require atleast 1 box to be checked

[2020-06-09 13:40] ebgoldstein commented on #80
also, even when i select none i get this error (even though this point is moot):
<img width="514" alt="Screen Shot 2020-06-09 at 9 40 02 AM" src="https://user-images.githubusercontent.com/5330599/84154524-39ec5680-aa35-11ea-97d3-cdf5e7af444a.png">

[2020-06-09 13:58] ebgoldstein opened #81 "remove the tag session ID"
can you remove the header that says the tag session on the top...
and also remove the tag session id down near the archive (if you wanted, you could puut the image name there)?

 <img width="797" alt="Screen Shot 2020-06-09 at 9 56 16 AM" src="https://user-images.githubusercontent.com/5330599/84156482-8b95e080-aa37-11ea-864d-0b647c22809e.png">

[2020-06-09 13:59] ebgoldstein opened #82 "pop up re: cycle to next image"
I forget the answer to this Q:
Do we need that pop up?

[2020-06-09 14:08] ebgoldstein opened #83 "colors"
can you reinstate the colors?

<img width="487" alt="Screen Shot 2020-06-09 at 10 07 13 AM" src="https://user-images.githubusercontent.com/5330599/84157723-10352e80-aa39-11ea-9fb8-aafdefa38fb6.png">

[2020-06-09 14:08] ebgoldstein opened #84 "pick 1 or more"
can you reinstate the 'pick one or more' text for impact and terrain

<img width="487" alt="Screen Shot 2020-06-09 at 10 07 13 AM" src="https://user-images.githubusercontent.com/5330599/84157854-335fde00-aa39-11ea-9233-953bc6031420.png">

[2020-06-09 14:12] ShahNafisRafique commented on #79
Yes will do! There is actually one thing I have to say about this. So since I do image compression the first time a image is request (across all images) it takes some time. This time is rather inconsistent ranging from a few seconds to 30 or so seconds. If its the later the user would have to toggle the `^` open and close for the image to re-render. This only happens once, so once image X has been

[2020-06-09 14:14] ShahNafisRafique commented on #80
We can do this two ways

1. Have a none option and require atleast 1 check box to be selected (this however creates a weird issue where if they select `none` and something else)
2. My recommendation, keep these 4 options and if they select no options that defaults as none.

[2020-06-09 14:18] ShahNafisRafique commented on #81
I can put image id next to the archive name, so it says `archive XXX - Image name` but I would like to have the image td (where it says `Tagging Session: XXX`) just as a way so that if someone ever needs something done on that image we have a unique ID to reference the image by.

Would it be better to say something like `Tagging Session - Image ID:XXX`?

[2020-06-09 14:19] ShahNafisRafique commented on #82
I just have that pop up so that the user knows the image was tagged successfully or if there was an error. Else the page refreshes and because it refreshes so quick and there is so little change visually (just ID of image changes) sometimes I couldn't tell that it actually refreshed.

[2020-06-09 14:20] ShahNafisRafique commented on #83
Yes I can!

[2020-06-09 14:25] ShahNafisRafique commented on #84
I can easily place the error message like so
![label_req](https://user-images.githubusercontent.com/38015120/84159806-7cb12d00-aa3b-11ea-8910-39f75651863c.PNG)

[2020-06-09 14:36] ebgoldstein commented on #84
this works. I think teh text should say:
"Select 1 or more"

[2020-06-09 14:37] ebgoldstein commented on #82
i think it's best to remove that click... I atleast want to try it out w/o the pop up

[2020-06-09 14:39] ebgoldstein commented on #81
That is a good point.So:
- keep the tagging session at the top.
- remove tagging session below, and instead have: `Archive: XXXX - Image: YYYY'

[2020-06-09 14:40] ebgoldstein commented on #80
Option 2.

[2020-06-09 14:41] ShahNafisRafique commented on #84
Updated database, testing now, should work.

[2020-06-09 14:45] ShahNafisRafique commented on #80
Changed DB, should be in effect.

[2020-06-09 14:47] ShahNafisRafique commented on #81
This is what it is now
![name](https://user-images.githubusercontent.com/38015120/84162608-943de500-aa3e-11ea-83d0-dd33f493f0f7.PNG)

[2020-06-09 14:53] ShahNafisRafique commented on #84
Updated production server, and it works. Close?

[2020-06-09 14:55] ebgoldstein commented on #81
nice, i see it too.

[2020-06-09 14:55] #81 closed

[2020-06-09 14:59] ebgoldstein commented on #82
ok, this works...
because a user is scrolled to the bottom of the page when they hit the submit button, and the screen reset pushes you to the top of the page, there is a visual clue for the tagger that it is a new image.

[2020-06-09 14:59] #82 closed

[2020-06-09 15:00] ebgoldstein commented on #79
ok, i see this problem... so pre-compression took too long?

[2020-06-09 15:01] ShahNafisRafique commented on #82
I can maybe add a popup only if theres an error

[2020-06-09 15:05] ShahNafisRafique commented on #79
Yea I left the VM to run for 8 hours and it only compressed around 1 and a half archives. Could be a language issue or maybe I just didnt handle it correctly as I told it to compress one image at a time.

[2020-06-09 17:48] ebgoldstein commented on #79
i think we need precompression..

[2020-06-09 17:49] ebgoldstein commented on #80
works on the front end, I'm going to close this...

[2020-06-09 17:49] #80 closed

[2020-06-09 17:50] ebgoldstein commented on #84
looks good... 1 minor change. terrain should say "Select 1 or more"

[2020-06-09 17:55] ShahNafisRafique commented on #79
any suggestions? I could look into improving the CLI performance wise or maybe there is a better compression tool out there?

[2020-06-09 17:57] ebgoldstein commented on #79
let table this RN... and have a think... @somyamohanty , i want to loop you in for this one.

[2020-06-09 18:13] ShahNafisRafique commented on #84
Updated DB

[2020-06-09 18:17] ebgoldstein commented on #84
nice, i see it now

[2020-06-09 18:17] #84 closed

[2020-06-09 21:02] ebgoldstein opened #88 "Text (when user lands on the page before login, AND when they log in (but may not be a tagger))"
here is some text to display when user arrives:

[code]

here is some text to display when user logs in:

[code]

[2020-06-09 22:15] ebgoldstein opened #89 "allow Auth0 sign in via Github"

[2020-06-10 02:41] ShahNafisRafique commented on #88
![home](https://user-images.githubusercontent.com/38015120/84221077-638f9700-aaa2-11ea-8ff0-5f4e5ec73ee2.PNG)

![homepage](https://user-images.githubusercontent.com/38015120/84221078-638f9700-aaa2-11ea-9e75-51637834c9e9.PNG)

[2020-06-10 03:00] ShahNafisRafique commented on #89
[Link](https://auth0.com/docs/connections/social/devkeys?_ga=2.18739129.1408529876.1591748558-1305967960.1591005210 )

before I think we can add GitHub we should use the production auth for google, then I think it will allow for GitHub

[Link](https://auth0.com/docs/connections/social/github) instructions on how to add GitHub

[2020-06-10 10:04] #69 closed

[2020-06-10 22:43] ebgoldstein commented on #89
i'm gonna close this for now...

[2020-06-10 22:43] #89 closed

[2020-06-10 22:43] ebgoldstein commented on #88
nice

[2020-06-10 22:43] #88 closed

[2020-06-11 00:05] ShahNafisRafique commented on #83
![colors](https://user-images.githubusercontent.com/38015120/84330555-b5452980-ab55-11ea-8ef8-8163f6008654.PNG)

[2020-06-11 00:23] #83 closed

[2020-06-11 00:28] ebgoldstein commented on #83
looks rad!

[2020-06-11 17:40] ebgoldstein opened #97 "Node production checklist"

[2020-06-11 18:06] ShahNafisRafique opened #98 "HTTPS"

[2020-06-11 18:10] ebgoldstein opened #99 "Collision Qs"
in MongoDB

[2020-06-12 10:38] ShahNafisRafique opened #102 "Add features to Question Set"

[2020-06-12 15:54] ebgoldstein commented on #74
i added text, i will eventually add images...

[2020-06-12 16:30] ebgoldstein commented on #99
done

[2020-06-12 16:30] #99 closed

[2020-06-12 17:48] #98 closed

[2020-06-15 09:40] ShahNafisRafique commented on #79
I got jpegoptim on the VM and I picked a random test image, its an image of just water, and after running
[code]
The output is
[code]
Meaning it cant compress without losing quality. So if I do compression with loss in quality (lets say down to 40%)
[code]
Which results in the file size going from `3.53mb` to `.928mb`.

So the question is

**How much should the loss in quality be? Should it be set

[2020-06-15 12:07] ShahNafisRafique commented on #79
For the sake of testing I did `m60` which means 40% loss in quality.

[2020-06-15 12:20] ShahNafisRafique commented on #98
Added http to https redirect

[2020-06-16 02:13] #74 closed

[2020-06-16 02:20] ebgoldstein commented on #75
- [ ] CLI for uploading new images (and json structure)*
 - [ ] MongoDB
 - [ ] deployment on VM

(* I have some new images on the vm ready to import)

[2020-06-16 10:48] ShahNafisRafique commented on #79
@ebgoldstein So after leaving the VM running over night starting around 10 am it ran until 12 midnight. It got through Dorian and Florence and some of Michael. The problem was that

[code]
jpegoptim: invalid argument for option -d, --dest
[code]

[2020-06-16 10:58] ShahNafisRafique commented on #79
Actually running `df` shows that the datadrive is full
`/dev/sdb1      1055839668 1002136244         0 100% /datadrive`

[2020-06-16 21:25] ebgoldstein opened #103 "Identify catalogs to start with"
Develop a list (and post in the docs) of suggested catalogs & archives to start with, based on which images  have a range of storm impacts.

[2020-06-17 01:09] ShahNafisRafique commented on #79
It seems all images have been compressed. One weird thing is in the database theres 56.2k images recorded(56180). But if I run
[code]
it says there is 52383 images across all 3 catalogs. So I am not sure why theres a difference. In any case I added a fall back for the compressed URL which will show uncompressed if there is no compressed image.

[2020-06-17 01:22] ShahNafisRafique commented on #79
After checking the database I see that in the DB
[code]
while the compressed folder has
[code]

[2020-06-18 12:26] ShahNafisRafique opened #104 "Meeting notes"
- [x] In order to listen on privileged ports you need root permissions to start the server; this applies to ports < 1024. You may use nginx as a reverse proxy server running on 443 and run your Node JS server alongside on non-privileged ports as an unprivileged user.
https://stackoverflow.com/questions/50112186/error-listen-eacces-0-0-0-0443

I tried a few solutions, none worked. The possible solu

[2020-06-18 13:51] ebgoldstein commented on #104
ok, i renamed all the `jpg` folders in the `buxtoncoastalcam*` directories to `jpgs` via:

`find . -name 'jpg' -execdir mv {} {}s ';' `

[2020-06-18 17:27] ebgoldstein opened #105 "Usability test"
- [ ] with multiple participants.... working at the same time
 - [ ] Feedback

[2020-06-18 18:04] ebgoldstein opened #106 "changing image tagging order"
If we ever wanted to alter image order, we would look @ L276-L289 of
 `Coastal-Image-Labeler/src/dashboard/_server/controllers/v1/user.ts  `

i.e., for active learning, etc..

[2020-06-18 18:10] #102 closed

[2020-06-18 18:10] ebgoldstein commented on #97
NGINX

[2020-06-18 19:26] ShahNafisRafique commented on #75
What would you like for the MongoDB docs? I already have a page on how to use the CLI [here](https://uncg-daisy.github.io/Coastal-Image-Labeler/docs/code_documentation/database)

There are also some other questions I had. For these pages what would you like? Or should they be removed
[https://uncg-daisy.github.io/Coastal-Image-Labeler/docs/code_documentation/data_exporting](https://uncg-daisy.gith

[2020-06-18 19:44] ebgoldstein commented on #75
-Mongo DB docs — describe all aspects of the mongoDB such as the structure that you have for it, all the fields, etc.

-Data export page — this can stay as a stub. I will fill it in as i learn to use PyMongo...
-Maintenance — is there anything we will need to do in the future? SSL cert will need to be redone in a year... anything else?

- current data — this should lead to a page... with links to

[2020-06-18 21:14] ShahNafisRafique commented on #75
What is the link to the Secoora site again

[2020-06-18 21:16] ebgoldstein commented on #75
https://secoora.org/webcat/

we should also highlight 2 tools:

psi collect form downloading the NOAA emergency response imagery,
and PyWebCAT for downloading the SECOORA images: https://github.com/UNCG-DAISY/PyWebCAT

[2020-06-18 21:19] ShahNafisRafique commented on #75
Where should I highlick psi collect and PyWebCAT

[2020-06-18 21:33] ebgoldstein commented on #75
When we mention the data in the labeler, I jsut want to mention that we built tools to be able to retrieve this data and work with it... I can do this

[2020-06-18 21:34] ebgoldstein commented on #75
I think if you just write the NOAA blurb, I can add blurbs for everyhting else... we are aobut to get another dataset uploaded in the next week

[2020-06-18 21:42] ShahNafisRafique commented on #75
Okay I can add a placeholder.

[2020-06-19 00:31] ShahNafisRafique commented on #75
Okay I added a mini tutorial in my own words explaining what to do [here](https://uncg-daisy.github.io/Coastal-Image-Labeler/docs/docing_the_docs/indexId) to add docs.

There is also [this](https://v2.docusaurus.io/docs/installation) page to show how to install and [this](https://v2.docusaurus.io/docs/docs-introduction) which talks about adding pages. Its kind of a lot from their site so hopefully

[2020-06-19 00:33] #104 closed

[2020-06-19 02:15] ShahNafisRafique commented on #75
The pages that still need stuff are

- [ ] [Data Exporting](https://uncg-daisy.github.io/Coastal-Image-Labeler/docs/code_documentation/data_exporting)

- [ ] [Maintenance](https://uncg-daisy.github.io/Coastal-Image-Labeler/docs/code_documentation/maintenance)

- [ ] [Data Sources](https://uncg-daisy.github.io/Coastal-Image-Labeler/docs/user_documentation/data_sources)

[2020-06-19 02:16] ShahNafisRafique commented on #97
NGINX is done 🙂🙂🙂🙂🙂🙂🙂🔥🔥🔥🔥

[2020-06-19 02:16] #97 closed

[2020-06-22 13:05] ebgoldstein commented on #106
A key first step here is to have an archive serve images in a random order. This is important for some time-sequence data in the archive now... @ShahNafisRafique , do you have any thoughts on how we could accomplish this?

In v1 of the labeler, the random sequence was the same for every user. We do not neccesarily need this to be the case here in v2. Also the random sequence does not need to be fi

[2020-06-22 13:08] ebgoldstein opened #107 "Tag as all water button"
Currently there is a `tag as all water` button. Unfortunately this does not pertain to all catalogs.

is there a way that we can have the text of this button (and the entry into the DB) change based on the questions set?

for example, on the Dune Collision and Tairua images, this button should say:

"tag as unusable"... which a user would check it the image was too blurry, foggy, rainsplashed, or

[2020-06-22 13:17] ShahNafisRafique commented on #106
Yes that sounds the best, it can be something like
[code]
I would just make it a json object just incase in the future we want to add options on top of that (like random selection, but only on the middle 50% or something)

I can go ahead and try this now, or wait.

[2020-06-22 13:17] ebgoldstein opened #108 "Tag permissions removed"
Eventually some Catalogs and archives will need to be removed from the VM.

-if users still have permission to tag a catalog/archive, and the image is gone, will there be an error? (i.e., 'image not found')

- I noticed that if i remove someones permissions to tag a catalog/archive, but they have already started tagging it and it's listed in their table on the landing page. If they click the table

[2020-06-22 13:19] ebgoldstein commented on #106
cool, that is a good implementation.
this would be good to add 'now', and by 'now' i mean in this version of the labeler...

[2020-06-22 13:29] ShahNafisRafique commented on #106
Okay I can work on it now then

[2020-06-22 14:32] ShahNafisRafique commented on #106
@ebgoldstein The random assignment works, atleast for the dev schema, should we implement for the production schema?

[2020-06-22 15:53] ShahNafisRafique commented on #108
If you remove the image from `assignedImages` field of the user document then it wont show up on the table.

[2020-06-22 15:55] ShahNafisRafique commented on #107
I can incorporate it into the question set, where buttons in a question set are viewed as "quick" presets or like a speed dial thing.

[2020-06-22 16:28] ShahNafisRafique commented on #107
So I tried this out on the dev schema, I simply added a new question to the `questions` section of the question set as follows
[code]
@ebgoldstein

[2020-06-22 16:44] ebgoldstein commented on #107
this looks good to me.. I think for the storm catalogs, we only want that water button... for all others, we only want a unusable button...

(so a customizable speed dial/quick submit idea is a good one...)

[2020-06-22 16:45] ebgoldstein commented on #108
great — thx.. I see that now.

[2020-06-22 16:45] #108 closed

[2020-06-22 16:47] ebgoldstein commented on #106
@somyamohanty — I'm looping you into this issue... this is where a recommender based on clustering could fit in..

[2020-06-22 16:49] ebgoldstein commented on #77
@ShahNafisRafique — this can be closed now with v1.0.7 of the CLI, correct?

[2020-06-22 16:50] ShahNafisRafique commented on #77
I havent added the backup feature yet, where its a pure export

[2020-06-22 17:03] ShahNafisRafique commented on #107
Should I do that, or let you do that for the production schema?

[2020-06-22 17:11] ebgoldstein commented on #107
I will add those to the production schema!

[2020-06-22 18:28] #107 closed

[2020-06-22 18:30] ebgoldstein commented on #107
i also moved the water Q up to be the first Q... so its easier for users..

[2020-06-22 20:46] ebgoldstein opened #109 "keyboard shortcut for submit button?"
maybe this is a crazy idea?

[2020-06-22 21:07] ebgoldstein opened #110 "Docs for beach State"
name says it all

[2020-06-24 03:48] ShahNafisRafique commented on #109
I think it might be a little bit crazy 😂. Just cause it would save like 1 second and also because it would be unorthodox in terms of form submission.

*and also because I have no clear clue on how to do it*

[2020-06-24 04:02] ebgoldstein commented on #109
ok, let's forget i even said it...

[2020-06-24 04:02] #109 closed

[2020-06-25 02:53] ShahNafisRafique commented on #77
So I looked into how to have exporting and turns out Mongo has a export CLI part of their overall CLI package.

1. Download the CLI [here](https://www.mongodb.com/try/download/community?tck=docs_server)
2. Then CD to the `bin` folder for where ever it is installed, for me it was `C:\Program Files\MongoDB\Server\4.2\bin`
3. Then run
[code]
where XXXX is the URI, just change collection and out file.

[2020-06-25 03:27] dbuscombe-usgs opened #111 "Download"
Fantastic usability - this is great stuff. I've labelled a few dozen and intend to keep going. Will downloads be supported in future? If so, which model? everyone's labels/imagery or only the ones an individual user has labelled? or other? Interested in that discussion

[2020-06-25 03:39] ebgoldstein commented on #77
ok, cool...great sleuthing @ShahNafisRafique!

(and btw —  i'm super excited for more nested `json` action!)

I'll close this, on behalf of mongodb's work solving the problem

[2020-06-25 03:39] #77 closed

[2020-06-25 03:49] ebgoldstein commented on #111
for right now, if you need something, just let me know and I can pull it.

The raw dumps (nested `json`s) require access to our collections in MongoDB... There is no API endpoint for data (yet... that has not been fully thought through)

I have not fully determined the workflow or where it will live (needs to have a doi), but my plan was to dump it every week (via a `cron` job, etc.)  and provide

[2020-06-25 03:51] #110 closed

[2020-06-25 03:51] #103 closed

[2020-06-25 03:53] ebgoldstein opened #112 "Documentation Needed"
- [x] Beach State Docs
 - [x] List of suggested catalogs & archives to start with

[2020-06-25 03:54] ebgoldstein commented on #106
this has been closed for the time being... more complicated `imageServeOrder`'s are being planned

[2020-06-25 14:38] dbuscombe-usgs commented on #111
Thanks for the info - sounds like a good plan. I agree csv or json format probably best considering the multi-label nature of the data. A regular data dump sounds good. It would also be good to try to weed out outlier classifications using an automated process, by way of dataset QA. I could help with that, if interested. Those images/classifications could be removed or perhaps flagged as dubious

[2020-06-25 15:09] ebgoldstein commented on #111
good point re: QA..that deserves its own issue moving forward

[2020-06-25 15:09] ebgoldstein opened #113 "QA for labeled data"
see https://github.com/UNCG-DAISY/Coastal-Image-Labeler/issues/111#issuecomment-649590955

[2020-06-29 03:56] ShahNafisRafique opened #114 "Daily export of data"
Doing a quick search, found [here](https://stackoverflow.com/questions/34735908/scheduling-file-every-1-hour-using-nodejs) I can have cron jobs be ran by node js. If I use [this](https://crontab.guru/#00_12_*_*_*) It says `00 12 * * *"`means `at 12 noon" run this script`. The only issues would be to error check/test the job since I would have to wait 1 day.

[2020-06-29 21:42] ShahNafisRafique commented on #114
backups should be made at `/home/shahnafis/mongo_backup` at noon every day. So I will come back tomorrow and test. If all is well I will close issue.

[2020-06-29 22:29] #114 closed

[2020-06-29 22:32] ShahNafisRafique opened #115 "Check daily export cron job"
Doing a quick search, found [here](https://stackoverflow.com/questions/34735908/scheduling-file-every-1-hour-using-nodejs) I can have cron jobs be ran by node js. If I use [this](https://crontab.guru/#00_12_*_*_*) It says `00 12 * * *"`means `at 12 noon" run this script`. The only issues would be to error check/test the job since I would have to wait 1 day.

I will come back and close this tomorro

[2020-06-30 20:30] ebgoldstein commented on #115
I see the backup @ShahNafisRafique ....

[2020-06-30 20:38] ShahNafisRafique commented on #115
I saw that too, but it was at 8am est because I forgot the server is on UTC time, so it should do it now at 16 UTC = noon est @ebgoldstein

[2020-06-30 20:38] #115 closed

[2020-07-02 17:14] ShahNafisRafique opened #116 "Show message when no more images to tag for archive."
Currently shows undefined with empty image.

[2020-07-02 17:16] ebgoldstein commented on #116
<img width="796" alt="Screen Shot 2020-06-22 at 4 50 54 PM" src="https://user-images.githubusercontent.com/5330599/86390507-2fa12f00-bc66-11ea-9d8b-fc2102b4451d.png">

[2020-07-02 17:57] ebgoldstein opened #117 "pixel level annotation"
to potentially merge this project with the [doodle labeller](https://github.com/dbuscombe-usgs/doodle_labeller) from @dbuscombe-usgs, we will need to store manual annotations of pixels for images in the DB.

One idea from @ShahNafisRafique for the annotation is to leverage an existing tool — e.g.,
https://github.com/waoai/react-image-annotate. The key issue is making the manual pixel annotations v

[2020-07-02 18:21] ShahNafisRafique opened #118 "Get unit testing and CI/CD"
Prob Travis CI

[2020-07-03 18:15] ShahNafisRafique commented on #116
![yesss](https://user-images.githubusercontent.com/38015120/86491041-8296e700-bd37-11ea-952a-08f5650bdaf8.PNG)
@ebgoldstein I added a fix to show a error message saying there are no more images to tag, when you can, can you please check it out and see if it works for you as well.

For testing it I pretty much copied the `imagesTagged` array over to my user.

[2020-07-03 19:16] ebgoldstein commented on #116
i see it! — nice work!

[2020-07-03 19:17] ebgoldstein commented on #116
actually i will let you close this when you revert the MongoDB back

[2020-07-03 19:43] ShahNafisRafique commented on #116
Done

[2020-07-03 19:43] #116 closed

[2020-07-07 20:03] #75 closed

[2020-07-09 14:20] ebgoldstein opened #119 "Optimize storing the list of already tagged images"
As user tags more images and is assigned more archives, the table on the Labeler home page will take longer to load (as it queries the DB). There could be a new, faster way to deal with this.

[2020-07-09 14:31] ShahNafisRafique opened #120 "Text changes"
- [x] `‘image tag` to `Pick Catalog to Label`

- [x] Change home page content to

[code]

[2020-07-09 17:14] ShahNafisRafique commented on #120
@ebgoldstein Production site is up, can you could go and see the text looks okay and then close the issue.

[2020-07-09 17:14] ShahNafisRafique commented on #119
@ebgoldstein Production site is up, can you go and see if the optimization looks nice and then close the issue if so.

[2020-07-09 17:17] ebgoldstein commented on #120
perfect. and blinking/loading table is good..

[2020-07-09 17:17] #120 closed

[2020-07-09 17:18] ebgoldstein commented on #118
close this now with travis working?

[2020-07-09 18:49] ShahNafisRafique commented on #118
While travis working, the only meaningful thing it does is build the docs site. I havent figured out how to do unit testing, if its at all possible for this.

[2020-07-16 05:32] ShahNafisRafique commented on #119
- [ ] Change `imagesTagged` to be a JSON

- [ ] Create script to refactor current list of images already tagged by people

- [ ] Check `getUserResumeInfo` under catalogs controller

- [ ] Check user model under `User.ts` and index.d.ts

- [ ] Updated `getAssignedImage` and `updatedTaggedImages` in user controller

[2020-07-16 18:53] ShahNafisRafique commented on #119
@ebgoldstein The optimization should be done now, can you go ahead and see if it works nicely. If you can, can you also tag a new image and see it being assigned to the `assignedImages` property and then once its tagged see if it gets transferred to `imagesTagged`, it looks like it works from my end.

[2020-07-16 18:59] ebgoldstein commented on #119
1 minute, table still blinking

[2020-07-16 19:44] ShahNafisRafique commented on #119
Okay working on a bug

[2020-07-16 19:49] ShahNafisRafique commented on #119
@ebgoldstein Okay can you try again

[2020-07-16 20:01] ebgoldstein commented on #119
2.5 seconds..

1 image tagged in `Florence/20180919a_jpgs`

[2020-07-16 20:05] ShahNafisRafique commented on #119
Okay so everything works now. Good to close?

[2020-07-16 20:17] ebgoldstein commented on #119
Yep, can be closed

[2020-07-17 04:01] #119 closed

[2020-08-20 17:41] ebgoldstein opened #125 "Tagger default and default archive"
- [ ] tagger status as default
 - [x] make a demo catalog with several archives
 - [x] put on VMs
 - [ ] set demo as default catalogs to label

[2020-08-22 18:34] ShahNafisRafique opened #126 "Show images"
- [x] API to show image, or show error image if not found

- [x] Frontend shows image

[2020-08-22 18:35] #126 closed, assigned to nobody

[2020-08-22 18:35] ShahNafisRafique opened #127 "Remove tag finalization"
Remove tag finalization to allow everyone to tag all images

[2020-08-22 18:36] ShahNafisRafique opened #128 "Timestamps"
Add timestamps to logs

[2020-08-22 18:36] ShahNafisRafique opened #129 "Styling clean up"
Finish up all styling and coloring for pages

[2020-08-22 18:36] ShahNafisRafique opened #130 "Create demo and extra test catalogs"
create 1-2 extra test catalogs and the demo catalog for test

[2020-08-22 18:37] ShahNafisRafique opened #131 "Auth0 Production"
Test Auth0 in production mode

[2020-08-22 18:37] ShahNafisRafique opened #132 "CLI cleanup"
- [ ] Incorporate sequential image serving

- [ ] Finalize CLI verision

[2020-08-24 15:54] ebgoldstein opened #133 "layout"
for v3 — Login and logout buttons both in the drawer, like v2.

<img width="1113" alt="Screen Shot 2020-08-24 at 11 49 57 AM" src="https://user-images.githubusercontent.com/5330599/91067055-6e1cef80-e600-11ea-9d05-7f4a0aac880c.png">

[2020-08-25 16:11] #129 closed

[2020-08-25 16:11] #127 closed

[2020-08-25 16:11] #128 closed

[2020-08-25 16:11] #130 closed

[2020-08-26 16:49] ebgoldstein opened #139 "Download button for users and admin"
- [x] make a download button for everyone on the main page

After clicking this, you get to the download page.
For people with 'tagger' role:
- [x] There should be a 1-click button that just instantly downloads all the data for the images you have labeled (as a `csv`). so every field.
- [x] There is also a table that allows for users to make decisions: such as what catalog, what, attributes, etc.

[2020-08-26 16:54] ShahNafisRafique commented on #131
done

[2020-08-26 16:54] #131 closed

[2020-08-26 17:01] ShahNafisRafique commented on #139
The 1 click button for admin/tagger roles seems easy to do.

For downloading specific catalogs a user is part of and the archives of those catalogs that also seems easy to do.

The part that I think might be hard is being able to select by the fields like washover/no washover due to the wide range of possible fields, but still possible to do.

[2020-08-26 17:11] ebgoldstein commented on #139
good points @ShahNafisRafique...
ok, so that I think that should define the implementation order for @kaveritakkellapati :

1. 1-click button for 'taggers' to download all their data.
2. an additional 1-click button for 'admins' to download all data
3. a way for 'taggers' and admin to download subsets of their data: based specific catalogs/archives, like the table a use sees when they log in
4. a

[2020-08-26 17:14] ebgoldstein commented on #111
@dbuscombe-usgs —we migrated this discussion re: data downloading to: https://github.com/UNCG-DAISY/Coastal-Image-Labeler/issues/139..

I'll keep thi issue open until we solve, and then close them both..

[2020-08-26 17:17] ebgoldstein commented on #139
(we had an old download issue - #111 - that was opened by @dbuscombe-usgs.. just as an FYI.. i forgot about it until a moment ago. So i'm sorry for not keeping a single thread.... I think we are addressing all of the concerns from that earlier issue.. but i wanted to loop him in in case he has any concerns/comments/suggestions)

[2020-08-26 19:04] ebgoldstein commented on #139
so for the 1-click button, the columns are:
ImageID,
image name,
User ID,
Catalog ID,
catalog name,
archive ID,
archive name,
and then a bunch of colums that are all the tags,

[2020-08-26 19:17] ShahNafisRafique commented on #139
how to make csv
https://code-maven.com/create-and-download-csv-with-javascript
thx google

[2020-08-29 05:05] #133 closed

[2020-08-29 05:05] #132 closed

[2020-08-29 05:05] #125 closed

[2020-08-29 05:06] ShahNafisRafique commented on #106
random server order ,sequential server order (with random as backup if an archive doesn't have sequential order) is done

[2020-08-29 05:06] #106 closed

[2020-08-29 05:08] ShahNafisRafique opened #146 "comments"
add all the comments!

[2020-08-30 04:57] ShahNafisRafique opened #147 "Handling of images with same name, under same archive in different folders"
When testing image entry for Florence I noticed a duplication issue. The image `P25959646.jpg` appears in two different archives

![fileissue](https://user-images.githubusercontent.com/38015120/91651460-f533f280-ea5a-11ea-859e-36b28c9bcfb8.PNG)

Archives 16a and 16b. The 3 entries into the database that are created are (more or less,I stripped the non relevant info)

[code]

As you can see theres

[2020-08-30 15:27] ebgoldstein commented on #147
the existence of the `/bak` folder is strange: it only exists this archive — `20180916b_jpgs` — and duplicates images that are in another archive `20180916a_jpgs`. Just checking one image (`S25972247`) from both `20180916a_jpgs` and `20180916b_jpgs/bak` suggests the `bak` is just duplicates..

from `20180916b_jpgs/bak`:
![bak:S25972247](https://user-images.githubusercontent.com/5330599/91662901-58

[2020-08-30 22:36] ebgoldstein opened #148 "Image Serve order"
Generate Image serve order for Michael, Florence, Dorian

[2020-08-30 22:37] ebgoldstein opened #149 "Load new storms to VM"
- [ ] Laura
- [ ] Isaias

[2020-08-30 22:38] ebgoldstein opened #150 "Load Isaias onto VM"

[2020-08-31 01:22] #147 closed

[2020-09-02 16:28] ebgoldstein commented on #139
hey @ShahNafisRafique , can you post the info for @kaveritakkellapati regarding the `...` notation for unnesting the `tag` column of the json into separate columns

[2020-09-02 20:37] ebgoldstein opened #151 "Storm Question Set"
One of the big targets for this project is to look at storm impacts and rank them into the sallenger (200) scale:
swash, collision, overwash, inundation.

I am beginning to wonder if we ask a user to do this ranking (keep the Q) or remove this targeted Q and just ask other Qs that essentially back us into a classification. The 'Do you see washover' question is an example that puts us into the over

[2020-09-02 20:38] ebgoldstein commented on #151
Also a 'do you see flooding' could be added

[2020-09-03 00:06] ShahNafisRafique commented on #139
Yes sure.
The header should have all the tags across all the question set. For example given the tags

[code]

The header of the csv + the data from those 2 tags above is

| imageId | userId | sand      | ocean     | mountain  | snowy     |
|---------|--------|-----------|-----------|-----------|-----------|
| id1     | user1  | true      | false     | undefined | undefined |
| id2     | user2  |

[2020-09-03 16:17] ebgoldstein commented on #151
also, i wonder if the landscape Question needs to exist... that should come out in the clustering work..

[2020-09-09 15:55] #151 closed

[2020-09-09 15:57] ebgoldstein commented on #113
QA will be subsumed by Qs re: inter-rater reliability and Cohen's Kappa

[2020-09-09 15:57] #113 closed

[2020-09-09 15:57] ebgoldstein commented on #148
subsumed by ideas re: demo archive and 'priority archives'

[2020-09-09 15:57] #148 closed

[2020-09-09 15:58] ebgoldstein commented on #111
subsumed by #139

[2020-09-09 15:58] #111 closed

[2020-09-09 15:59] ebgoldstein commented on #105
no formal usability testing to be done

[2020-09-09 15:59] #105 closed

[2020-09-09 15:59] ebgoldstein commented on #38
Pixel level annotation by leveraging an existing tool? — e.g.,
https://github.com/waoai/react-image-annotate. The key issue is making the manual pixel annotations very lightweight, so it can be stored easily on the mongodb w/o needing a huge db.

[2020-09-09 16:00] ebgoldstein commented on #117
wrapped into #38

[2020-09-09 16:00] #117 closed

[2020-09-12 01:04] ebgoldstein commented on #38
I'm closing this... Some of these are wrapped in to evolving long term plans..

[2020-09-12 01:04] #38 closed

[2020-09-12 01:05] #112 closed

[2020-09-12 01:11] ebgoldstein commented on #139
(Once this is integrated we should do a new tagged release)

[2020-09-12 19:18] ebgoldstein commented on #139
ok, cool i see https://github.com/UNCG-DAISY/Coastal-Image-Labeler/commit/e3957f0841aa9814e94108612eaa223849a734f1 and i see on the dev server that there is a button for users and admin and that both work — i could download csv's! very awesome @kaveritakkellapati !

However, I see from these lines in `export.tsx` that the specific tags to export are hard coded:
https://github.com/UNCG-DAISY/Coasta

[2020-09-12 19:24] ebgoldstein commented on #139
to clarify, it's ok if some fields are hard coded (correct me if i you think I am wrong @ShahNafisRafique, or if you have a better idea).. such as these:
[code]
 but the tags need to be dynamic.. @kaveritakkellapati — look at @ShahNafisRafique 's comment above in this issue for his ideas of how to do this..

[2020-09-12 19:27] ebgoldstein commented on #139
also can we change the buttons to say:
'Export Your Labels' (not 'Export user tags')
'Export All Labels' (not 'Export all tags')

[2020-09-23 13:34] ebgoldstein opened #157 "Path: original, compressed, aux?"
Currently, as i understand it, each image has 2 paths in the DB (original and compressed). When loading in catalog, a user specifies (in the json) a path for the original images and the compressed images. Both original and compressed images also have API endpoints.

Operating on these images with ML can also lead to derivative products, such as masks/overlays. An example is shown below. This is a

[2020-09-23 13:42] ebgoldstein commented on #157
I am wondering about this, because showing these GradCAM images to users of the [Storm Impact Map](https://github.com/UNCG-DAISY/StormImpactMap) might be beneficial.. (that use case is here: https://github.com/UNCG-DAISY/StormImpactMap/issues/20).

[2020-09-24 02:30] ShahNafisRafique commented on #157
@ebgoldstein You can add a 3rd field to that `path` object, then we can make a new API endpoint that will try to give an image at that path, and fall back to the `path.original` path (since thats the only required one) if it fails.

Not too hard, can be made easily

[2020-09-24 12:59] ebgoldstein commented on #157
cool...

- [ ] Make GradCAM for an archive
- [ ] Upload to VM (`datadrive2/aux/<catalog>/`
- [ ] Add catalog via CLI w/ additional path object

[2020-09-24 14:27] ebgoldstein opened #158 "Blog Posts"
- [ ] How to use the labeler (w/ a video)
- [ ] active learning

[2020-09-26 16:42] ShahNafisRafique commented on #157
I added a new endpoint that allows you to specify which path for an image. It follows the format of

[code]
`imageId` - Would be the MonogDB `_id` of the image, if that image doesnt exist the server will send the error image
`type` - would be the key for the path, like `compressed`, `original`, `auxiliary`, `blackwhite`, `specialImageThatIsReallyCool` or whatever. If the path created with that key

[2020-09-26 18:56] ebgoldstein commented on #157
So — i have new images (gradcam) for Isaias on the VM — should i delete the Isaias archive and reload it into the DB? Since i need to alter the path entry for each image? recommendations?

[2020-09-26 20:27] ShahNafisRafique commented on #157
I dont think you should delete the archives. I think (either with py or nodejs) just update each image.

[2020-09-28 16:33] ebgoldstein commented on #157
ok, this is all working now

[2020-09-28 16:33] #157 closed

[2020-09-30 16:37] ebgoldstein opened #159 "tag.water and consistency in the Image Collection"
We are running into an situation where we need consistency re: `tag.water` for data export.
For example,  when an image is tagged as water, it has `tags.water = TRUE` and  no other `tags` (regardless of the question set).

When an image is not water,  and there is no `tags.water`, instead we have tags for all the Questions..

this consistency is an issue during data export... For images that are t

[2020-09-30 17:36] ebgoldstein commented on #139
dealing with `tags.water` in https://github.com/UNCG-DAISY/Coastal-Image-Labeler/issues/159

[2020-09-30 18:45] ebgoldstein opened #160 "code to interact w/ database (connect, modify)"
@ShahNafisRafique — you mentioned uploading some code to interact with the DB. This will be helpful for me re: loading up new key:value pairs to the path object.

[2020-10-02 00:05] ShahNafisRafique commented on #160
Yes I can get to that tomorrow/on the weekend. I will also update the docs for that as well.

[2020-10-02 00:07] #146 closed

[2020-10-03 00:10] ebgoldstein opened #161 "Add docs on API routes"

[2020-10-03 17:51] ebgoldstein commented on #161
@ShahNafisRafique , I'll let you close this when you are satisfied?

[2020-10-03 17:51] ebgoldstein commented on #160
@ShahNafisRafique , I'll let you close this when you are satisfied?

[2020-10-03 17:51] ebgoldstein commented on #159
@ShahNafisRafique , I'll let you close this when you are satisfied?

[2020-10-03 17:56] ShahNafisRafique commented on #160
Yea I think its done, any future issues can be handled later

[2020-10-03 17:56] #160 closed

[2020-10-03 17:56] ShahNafisRafique commented on #159
Yes

[2020-10-03 17:56] #159 closed

[2020-10-04 12:50] ebgoldstein opened #165 "Assign image API"
I'm just putting this here as something to think about...

I asked @ShahNafisRafique if there could be a link from the map to the labeler for people to immediately label an image that they see is a false positive (prediction is washover, but no washover in image)..

He replied:

_Originally posted by @ShahNafisRafique in https://github.com/UNCG-DAISY/StormImpactMap/issues/20#issuecomment-695843955

[2020-10-04 13:12] ebgoldstein commented on #165
i see there is an API route for `assignedImages`:
https://uncg-daisy.github.io/Coastal-Image-Labeler/docs/code_doc/routes/overview/

[2020-10-04 14:52] ShahNafisRafique commented on #165
So that link @ebgoldstein is for just general purpose querying. I think I can make a route that given a `userID` and `imageID` can assign that image to that user (if they are NOT part of that catalog it can auto add them to it)

[2020-10-04 15:02] ebgoldstein commented on #165
also — people might not even be a user when they hit the button on the map to label the image... so imagine that scenario...

[2020-10-04 15:14] #161 closed

[2020-10-04 15:16] ShahNafisRafique commented on #165
Okay so should I do anything about that or just let you handle it?

[2020-10-04 15:28] ebgoldstein commented on #165
i think if you are interested in building that route — that would be cool..

[2020-10-06 15:28] dbuscombe-usgs opened #166 "Ambiguity in questions and broken '?' links that would offer clarification"
you may know this already, but just in case ... tooltip links for development type, etc, are broken. Links to https://uncg-daisy.github.io/Coastal-Image-Labeler/docs/question_sets/stormQuestionSet get 404 errors

tagging today!

[2020-10-06 15:41] dbuscombe-usgs commented on #166
BTW, I noticed this when I was seeking guidance on what to tag as 'inland' - it's not a category I have a intuition for - almost all scenes contain 'inland' portions (i.e. land above sea level? land beyond backbarrier marshes? ) because the images have huge spatial footprints, so I worry it would be routinely mislabeled or inconsistently labeled. If it was broken up into more specific categories,

[2020-10-06 15:42] dbuscombe-usgs commented on #166
Of course, the second I post this issue, I get my very first bona fide 100% sure this is a river!! (Isaias - P21776651.jpg)

[2020-10-06 16:14] ebgoldstein commented on #166
https://coastalimagelabeler.science/api/image/5f5c1c37016e86108aec3cb3/compressed

[2020-10-06 16:16] ebgoldstein commented on #166
yeah, we upt this in for Florence, since there are lots of image only tiles (see below)... I should be more clear that this is really for rivers, not tidal channels, etc.

<img width="892" alt="Screen Shot 2020-10-06 at 12 14 53 PM" src="https://user-images.githubusercontent.com/5330599/95228751-b61d5d80-07cd-11eb-9336-82decaa58371.png">

[2020-10-06 16:19] ebgoldstein commented on #166
i would  only mark 'active' overwash fans... not the vegetated ones (those in dashed box below)... is that what you mean?
<img width="765" alt="Screen Shot 2020-10-06 at 12 17 34 PM" src="https://user-images.githubusercontent.com/5330599/95229059-1d3b1200-07ce-11eb-9376-d3fc20244eab.png">

[2020-10-06 16:21] dbuscombe-usgs commented on #166
Yes, that's what I thought, just needed clarification. I assume now that 'inland' is 'entirely inland'

On the river class, for example this one looks like a river but I couldn't distinguish this from an estuary https://coastalimagelabeler.science/api/image/5f5c1c37016e86108aec3cef/compressed

[2020-10-06 16:40] dbuscombe-usgs commented on #166
fyi, for now I'm skipping images like this where I can't tell if the dominant class is river or estuary: https://coastalimagelabeler.science/api/image/5f5c1c37016e86108aec3cab/compressed

No biggie, but i suggest breaking those classes up or giving some guidance over what to when you see unbroken water but not enough context to make a geomorphic distinction

[2020-10-06 16:43] ebgoldstein commented on #166
i think you can label it as either/both, and write a comment... the last 2 qs are the least important RN since they are so ambiguous... your feedback on breaking up into classes is what we needed... However, if you skip then we don't get info on washover, damage, development, etc.

[2020-10-06 16:44] ebgoldstein commented on #166
if it were me, i would label as both, and not write comment... (for speed)

[2020-10-06 16:50] dbuscombe-usgs commented on #166
This is really minor but on the same thread. Consider just embedding a tiny image such as this one that will show everyone - at a glance - what the different sallenger categories are without them having to look it up. Would ensure greater consistency, I think: https://www.researchgate.net/profile/Saber_Elsayed2/publication/315819318/figure/fig20/AS:614191757004821@1523446134353/21-Storm-surge-regi

[2020-10-06 16:57] dbuscombe-usgs commented on #166
One last suggestion (for now, I promise!). I haven't yet seen any damage, but when I do, I am taking infrastructure literally (roads, pipelines, power lines), as opposed to structures/superstructures (residential homes, commercial buildings, walls, jetties, piers, groynes, etc) or counting any damage to any man-made object?

[2020-10-06 16:59] ebgoldstein commented on #166
arg — it should be damage to structures too...
I will correct that RN...

[2020-10-06 17:01] ebgoldstein commented on #166
should be fixed now

[2020-10-06 17:02] dbuscombe-usgs commented on #166
yep, fixed - love that integration!!!

[2020-10-06 17:06] dbuscombe-usgs commented on #166
I must say you all have done a great job with this and I'm excited to help test and improve! The app is super intuitive, fast - you've made some excellent design choices.

[2020-10-06 17:09] dbuscombe-usgs commented on #166
I have first-hand recent experience with working with a dataset that has about 20% error in the labels (the TAMUCC dataset I am using to teach MLMONDAYS), so my comments this morning have been in service of catering to the unsure and pedantic among us, to absolutely avoid that happening here

[2020-10-06 17:30] dbuscombe-usgs commented on #166
It would be really interesting to see how well a damage/no damage classifer would perform at this scale. For example, https://coastalimagelabeler.science/api/image/5f5c1c37016e86108aec3c4f/original

There are more buildings in this scene that are undamaged than damaged, but those damaged are damaged quite badly

[2020-10-07 16:41] dbuscombe-usgs commented on #166
On occasion I get agricultural land that I consider 'developed' (roads and crop rows) but would likely screw a classification like this up, since its really semi-natural and probably nothing like the other developments with structure. Maybe just a note in the docs to say 'developed' means human settlements and objects or whatever

e.g. https://coastalimagelabeler.science/api/image/5f5c1c37016e8610

[2020-10-07 16:52] ebgoldstein commented on #166
that makes sense. FWIW I would say its developed too...

[2020-10-08 18:55] dbuscombe-usgs commented on #166
I tagged 100 Florence and 100 Isaias images

[2020-10-08 18:58] dbuscombe-usgs commented on #166
I may have screwed up those few that I skipped because of the river issue (above) - sorry!

[2020-10-08 19:54] ebgoldstein commented on #166
Isaias was hard, i thought... lots of zooming... We have a shade over 800 labels total right now (spread over the 300 images)

[2020-10-08 21:05] dbuscombe-usgs commented on #166
i usually have to zoom to tell if there is damage, but i feel like i can usually identify the other categories without the zoom

[2020-10-08 22:06] ebgoldstein commented on #165
we are tabling this for now...

[2020-10-08 22:06] #165 closed

[2020-10-08 22:07] ebgoldstein opened #167 "delete 'user docs'"

[2020-10-08 22:10] ebgoldstein opened #168 "Archives Taggable true / false"
Archives should be marked as `taggable`. and this functionality should work..

this will be used for the priority catalog... were new archives will be added, and old ones will be decommissioned (but not removed from the DB)

true means a user sees the archive them in the table.
false means the user does not see the archive them in the table.

[2020-10-08 22:11] ebgoldstein opened #169 "Image size on labeler"
the full image should be visible... small strip on the top and bottom are currently cut off...

[2020-10-08 22:12] ebgoldstein opened #170 "Table is blinking"
(for me)...

I labeled all of priority catalog, but then as a test tried to label it again via the button on the drawer.. table is now blinking...

@ShahNafisRafique — you have a reproducible example..

[2020-10-08 22:13] ebgoldstein opened #171 "blinking table"
(for me)...

I labeled all of priority catalog, but then as a test tried to label it again via the button on the drawer.. table is now blinking...

@ShahNafisRafique — you have a reproducible example..

[2020-10-09 01:32] ebgoldstein commented on #169
edge case:
![original](https://user-images.githubusercontent.com/5330599/95531097-b5432200-09ad-11eb-8f43-0c5960533670.jpg)

<img width="852" alt="labeler" src="https://user-images.githubusercontent.com/5330599/95531107-bb390300-09ad-11eb-9167-309e4c1a0e34.png">

[2020-10-09 01:40] ebgoldstein commented on #167
done via https://github.com/UNCG-DAISY/Coastal-Image-Labeler/commit/5d99024176d3e3325ed26b89488065d6d8cd0880

[2020-10-09 01:40] #167 closed

[2020-10-09 01:41] ebgoldstein commented on #168
i can test this...

[2020-10-09 01:46] ebgoldstein commented on #168
it seems to not be implemented.

Mongo:
<img width="354" alt="Screen Shot 2020-10-08 at 9 44 55 PM" src="https://user-images.githubusercontent.com/5330599/95532846-9b0a4380-09af-11eb-8e3c-478ef845f3e0.png">

Labeler:
<img width="807" alt="Screen Shot 2020-10-08 at 9 45 17 PM" src="https://user-images.githubusercontent.com/5330599/95532849-9cd40700-09af-11eb-9997-87dcd9bb9104.png">

[2020-10-09 01:47] ebgoldstein commented on #170
ok, so i assigned a new catalog to myself (Dorian), and the table stopped blinking...

[2020-10-09 01:50] ebgoldstein commented on #170
I wonder if this is a remnant of having the old catalog hashes that don;t exits...

[2020-10-09 03:22] ShahNafisRafique commented on #170
I think I would like to fix it, because its just a visual glitch

[2020-10-09 15:35] dbuscombe-usgs commented on #166
100 Michael images tagged. LOTS of damage in that set

[2020-10-10 16:51] ebgoldstein opened #173 "Question set (labels) for tiles"
@dbuscombe-usgs here is where we can make notes regarding the Tiles.... Qs and labels for the dev machine

[2020-10-10 23:20] ShahNafisRafique commented on #170
Okay so the issue was a visual glitch/faulty logic

When the page first gets loaded, I do a call to the serve saying "Does the user have any assigned images". If that returns true then on the client side it asks for the table data (that takes longer). If not then it shows the "No archive to continue tagging"

The getting the table data part, essentially returns an array of rows, each being a an ar

[2020-10-10 23:21] ShahNafisRafique commented on #170
This only happens if the all the assigned images belong to catalogs/archives/images that dont exist. If one of the assigned images is valid then all is good.

[2020-10-10 23:22] ShahNafisRafique commented on #170
@ebgoldstein I dont know if you can any more, but can you check to see if its all fixed. You could go unassign all images from your self and assign a random image with a random catalog ID thats invalid.

[2020-10-10 23:32] ShahNafisRafique commented on #168
When 1/2 archives are marked false
![image](https://user-images.githubusercontent.com/38015120/95667101-47beff00-0b2f-11eb-96a9-8a90c3da1de7.png)
![image](https://user-images.githubusercontent.com/38015120/95667104-4beb1c80-0b2f-11eb-8ec1-7021e26fec13.png)

When both are marked false

![image](https://user-images.githubusercontent.com/38015120/95667107-59a0a200-0b2f-11eb-836b-759ab84b6554.png)

[2020-10-10 23:33] ShahNafisRafique commented on #168
I also did this for catalog too. So only taggeable catalogs and archives should show up

[2020-10-11 00:25] ebgoldstein commented on #170
Do you want to do this on the dev or production? likely easier on production, as I just unassigned all images to myself on the except 1 image that doesn't exist.

[2020-10-11 00:27] ShahNafisRafique commented on #170
I can push the changes to production vm, I just pushed to dev vm

[2020-10-11 00:33] ebgoldstein commented on #170
excellent, it works... feel free to close.

[2020-10-11 02:23] #170 closed

[2020-10-11 05:27] ShahNafisRafique commented on #169
Done, image is resized to fit and now theres even a loading image

[2020-10-11 05:27] #169 closed

[2020-10-11 05:27] #168 closed

[2020-10-11 14:03] ebgoldstein commented on #139
I am going to close this for now, since i have seen a working demo from @kaveritakkellapati

[2020-10-11 14:03] #139 closed

[2020-10-15 13:46] ebgoldstein opened #178 "Skip button"
skip button is not working:
I have looking at the logs... which are fine in terms of checking user, catalog, archive, assigned image, etc.

However, the logs have no statement about incrementing the assigned image.. it just looks for the currently assigned image and then serves it... After checking if a catalog exists, the next statement is "Getting current assigned image for user... "

[2020-10-18 22:59] #178 closed

[2020-10-19 00:58] ebgoldstein commented on #166
I added some sentences in the docs

[2020-10-19 00:58] #166 closed

[2020-10-19 15:16] ebgoldstein commented on #173
@dbuscombe-usgs — here is the mention of [grid layout options in the docs](https://uncg-daisy.github.io/Coastal-Image-Labeler/docs/code_doc/database/models#question-set)... LMK and I can adjust it

[2021-01-07 01:27] #158 closed

[2021-01-07 01:27] #173 closed

[2021-01-17 16:26] ShahNafisRafique opened #184 "Save drawings as image"

[2021-01-17 16:26] ShahNafisRafique opened #185 "Show current lines table"

[2021-01-17 16:26] ShahNafisRafique opened #186 "Undo button"

[2021-01-17 18:39] ShahNafisRafique opened #187 "Pan/Zoom"

[2021-01-17 18:40] #186 closed

[2021-01-17 18:41] #185 closed

[2021-01-22 22:15] ebgoldstein commented on #184
After speaking with @dbuscombe-usgs, i think SVG is the preferred save format

[2021-01-31 20:51] ebgoldstein commented on #184
@ShahNafisRafique did this via https://github.com/UNCG-DAISY/Coastal-Image-Labeler/commit/4ac268036ed5a1389494019deeef5d8f76e009c5.

[2021-01-31 20:51] #184 closed

[2021-01-31 20:52] ebgoldstein commented on #187
I will leave this here, but this is not in active development.

[2021-03-11 18:04] ebgoldstein commented on #112
https://github.com/UNCG-DAISY/Coastal-Image-Labeler/commit/3b4106c959e4a33ad7eb04738b1a34eccabb4886 finally added real instructions for labelers

[2021-03-11 18:05] ebgoldstein commented on #166
https://github.com/UNCG-DAISY/Coastal-Image-Labeler/commit/3b4106c959e4a33ad7eb04738b1a34eccabb4886 finally added real instructions for labelers

[2021-03-11 18:05] ebgoldstein commented on #158
no video, https://github.com/UNCG-DAISY/Coastal-Image-Labeler/commit/3b4106c959e4a33ad7eb04738b1a34eccabb4886 but finally added real instructions for labelers

[2021-03-14 13:51] ebgoldstein opened #191 "End of an Archive `500 | internal server error.`"
When you are tagging, and you reach the end of an archive, you can get an `500 | internal server error.` message when advancing to the next image. (this happened with `Priorty/Michael4`. ( For other archives, I have  seen a Labler page that explicitly says 'you have no more images to label')

[2021-03-14 14:03] ebgoldstein opened #192 "see which archvies you have finished"
currently, there is no straightforward way to see which archives you have completed. When you are in the middle of labeling, the archive appears in the 'resume tagging box'... when you are done, they are removed from the `resume tagging box` (since that box is rendered via your assigned image).

that is fine, but when a Labeler goes to 'label new archive', they are shown a list of possible archive

[2021-03-21 13:20] ebgoldstein opened #193 "Hover zoom"
e.g.,

https://www.npmjs.com/package/react-cursor-zoom

https://www.npmjs.com/package/react-image-zoom

https://www.npmjs.com/package/react-inner-image-zoom

[2021-03-21 13:34] ebgoldstein commented on #193
@ShahNafisRafique - asking for your opinion -  do you think this is an easy thing to integrate? and do you have any insight into which implementation might be best for this project?

[2021-03-22 04:03] ShahNafisRafique commented on #193
@ebgoldstein I think the first two are best.

The first one is nice cause the zoomed in portion follows the mouse
The second is nice cause it shows what part of the image is zoomed in with the grey part
The third one will probably mess up with the drawing tool too much.

If I had to pick one, I would probably say the 1st since it would require slightly less UI changes/thinking as the second would

[2021-03-22 14:11] ebgoldstein commented on #193
thx for the guidance @ShahNafisRafique !

[2021-05-18 19:50] ebgoldstein opened #200 "Labeler Instructions"
Add labeler instructions to docs site

[2021-05-18 20:21] ebgoldstein commented on #200
closed via https://github.com/UNCG-DAISY/Coastal-Image-Labeler/commit/2733f19166be10374a2d6424f4509c93e0ac5d02

[2021-05-18 20:21] #200 closed

[2021-11-01 20:38] ebgoldstein opened #209 "Fix docasaurus build GHA"